@{
    Layout = "~/Views/Shared/_LayoutDialogPage.cshtml";
}
@using Example.Dto.Business
@model ModifyPasswordDto
@section script{
    <script type="text/javascript">
        var dialog = top.dialog.get(window);
        var dialogObj = {
            Ok: function () {
                $("#formEdit").submitForm({
                    url: '@Url.Action("ConfirmModifyPassword")',
                    onSuccess: function (data) {
                        dialog.Close(true);
                    }
                });
            },
            Cancel: function () {
                dialog.Close(false);
            }
        };
    </script>
}
<div class="container">
    <form id="formEdit" class="form-horizontal">
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.OldPassword)</td>
                <td>@Html.PasswordFor(x => x.OldPassword, new { @class = "easyui-textbox" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.NewPassword)</td>
                <td>@Html.PasswordFor(x => x.NewPassword, new { @class = "easyui-textbox" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ConfirmPassword)</td>
                <td>@Html.PasswordFor(x => x.ConfirmPassword, new { @class = "easyui-textbox" })</td>
            </tr>
        </table>
    </form>
</div>
@section buttons{
    <button class="btn btn-primary" onclick="dialogObj.Ok()">确认</button>
    <button class="btn btn-primary" onclick="dialogObj.Cancel()">取消</button>
}




