<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/baseComponents")
    @Scripts.Render("~/bundles/ls")
    @Styles.Render("~/bundles/baseComponentsStyle")
    <script src="~/Scripts/ls/jquery.easyui.extension.validate.js"></script>
    <link href="~/Content/ls.admin.css" rel="stylesheet" />
    <link href="~/Content/ls.site.css" rel="stylesheet" />
    <style type="text/css">
        .container{padding:5px;}
    </style>
    <script type="text/javascript">
        var page = {
            JsonData: eval('(' + '@Html.Raw(ViewBag.JsonData == null ? "{}" : ViewBag.JsonData)' + ')')
        };
    </script>
    @RenderSection("head", false)
    @RenderSection("script", false)
</head>
<body>
    <input id="_hidPageId" type="hidden" value="@Request.QueryString["pageId"]" />
    <div class="container ls-dialog-container">
        @RenderBody()
    </div>
    <div class="container" style="text-align:right;position:absolute;bottom:15px;right:30px;">
        @RenderSection("buttons", false)
    </div>
</body>
</html>
